---
import Layout from "../../layouts/Layout.astro";
import ImageNav from "../../components/Image-Nav.astro";


export async function getStaticPaths() {
  const cafeterias = [
    {
      id: 1,
      name: "Cafeteria 1",
      img: "https://cadenaser.com/resizer/JW__t6KwyILg1IoUmwFvF9RW9UI=/1200x900/filters:format(jpg):quality(70)/cloudfront-eu-central-1.images.arcpublishing.com/prisaradio/SPEJDYMPEJP3FKH4PDF4RCKEAI.jpg",
      description:
        "Este cafe es de especialidad, su sabor es único y su precio es asequible. Su grano viene de Colombia, tiene unos colores muy suaves.",
      direction: "Marina 293, Sagrada Familia, Barcelona",
    },
    {
      id: 2,
      name: "Cafeteria 2",
      img: "https://visit.gent.be/sites/default/files/styles/header_mobile/public/media/img/2022-10/VisitReeks198-DT16571.jpg?h=16208498&itok=IEjgxX_b",
      description:
        "Este cafe es de especialidad, su sabor es único y su precio es asequible. Su grano viene de Colombia, tiene unos colores muy suaves.",
      direction: "Roger de Flor, Exaimpla, Barcelona",
    },
    {
      id: 3,
      name: "Cafeteria 3",
      img: "https://imagenes.elpais.com/resizer/W__EIZ4R7lS1CKaFfkz9368Mhjw=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/S3SJXUQ2BFLBTA5P7MF4LXUVDY.jpg",
      description:
        "Este cafe es de especialidad, su sabor es único y su precio es asequible. Su grano viene de Colombia, tiene unos colores muy suaves.",
      direction: "Castillejos 456, Sagrada Familia, Barcelona",
    },
    {
      id: 4,
      name: "Cafeteria 4",
      img: "https://www.franciscosegarra.com/wp-content/uploads/2022/05/decoraciones-cafeterias.jpg",
      description:
        "Este cafe es de especialidad, su sabor es único y su precio es asequible. Su grano viene de Colombia, tiene unos colores muy suaves.",
      direction: "Marina 293, Sagrada Familia, Barcelona",
    },
    {
      id: 5,
      name: "Cafeteria 5",
      img: "https://www.foodbox.es/wp-content/uploads/2019/09/cafeteriasmodernascab.jpg",
      description:
        "Este cafe es de especialidad, su sabor es único y su precio es asequible. Su grano viene de Colombia, tiene unos colores muy suaves.",
      direction: "Marina 293, Sagrada Familia, Barcelona",
    },
    {
      id: 6,
      name: "Cafeteria 6",
      img: "https://navarracapital.es/wp-content/uploads/cafeterias-psmplons.jpg",
      description:
        "Este cafe es de especialidad, su sabor es único y su precio es asequible. Su grano viene de Colombia, tiene unos colores muy suaves.",
      direction: "Marina 293, Sagrada Familia, Barcelona",
    },
  ];
  return cafeterias.map(({ id, name, img, description, direction }) => {
    return {
      params: { id },
      props: { name, img, description, direction },
    };
  });
}
const { name, img, description, direction } = Astro.props;
---

<Layout>
  <ImageNav/>
  <head>
    <title>{name}</title>
  </head>
  <body>
    <img src={img} alt="" />
    <p>{description}</p>
    <p>{direction}</p>
  </body>
</Layout>







