<div class="image">
    <h2>The best cafes in the World</h2>
    <p>Where to get the best coffee in town</p>
</div>
<style>
    .image{
		background: url(https://img.freepik.com/fotos-premium/cafeteria-moderna-luminosa-algarve-estilo-minimalista_908344-2695.jpg) no-repeat; 
		background-position: 1% 50%;
		background-size: cover;
		height: 322px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 15px;
    	color: black;
	}
	.image h2{
		font-size: 50px;
		margin: 0px;
	}
	@media screen and (max-width: 480px) {
        .image h2{
		font-size: 40px;
		text-align: center;
		margin: 0px;
	}
    }
</style>